In [36]:
import pandas as pd
import glob
import os

path = r"D:\3A ENSAE\Machine Learning for climate risk\Project_Task\catnat_drought\catnat_drought"

files = glob.glob(os.path.join(path, "arrete_*.csv"))

In [37]:
dfs = []

for f in files:
    df = pd.read_csv(f, sep=";")
    dfs.append(df)

arretes = pd.concat(dfs, axis=0, ignore_index=True)

In [38]:
arretes

,N° Insee,Nom de la commune,Début d'Événement,Fin d'Événement,Arrêté du,Parution au JO du,Nom du péril,Code péril,Franchise,Code NOR,Décision
0,17064,BREUILLET,01/07/2012,30/09/2012,21/01/2014,24/01/2014,Sécheresse,SEC,-,INTE1401748A,Non reconnue
1,17300,LA ROCHELLE,01/06/2012,30/09/2012,21/01/2014,24/01/2014,Sécheresse,SEC,-,INTE1401748A,Non reconnue
2,18013,ARPHEUILLES,01/07/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,-,INTE1401748A,Non reconnue
3,31202,FRONTON,24/03/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
4,31215,GAURE,13/02/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
...,...,...,...,...,...,...,...,...,...,...,...
43704,82094,LAUZERTE,01/01/2024,31/12/2024,12/12/2025,13/12/2025,Sécheresse,SEC,-,INTE2534330A,Non reconnue
43705,83109,LA ROQUE ESCLAPON,01/01/2024,31/12/2024,12/12/2025,13/12/2025,Sécheresse,SEC,-,INTE2534330A,Non reconnue
43706,84035,CAVAILLON,01/04/2023,31/12/2023,12/12/2025,13/12/2025,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
43707,84086,OPPEDE,01/01/2024,31/12/2024,12/12/2025,13/12/2025,Sécheresse,SEC,-,INTE2534330A,Non reconnue
43708,85191,LA ROCHE SUR YON,01/01/2024,31/12/2024,12/12/2025,13/12/2025,Sécheresse,SEC,-,INTE2534330A,Non reconnue

In [39]:
arretes_rec=arretes[arretes['Décision']=="Reconnue"]
arretes_rec

,N° Insee,Nom de la commune,Début d'Événement,Fin d'Événement,Arrêté du,Parution au JO du,Nom du péril,Code péril,Franchise,Code NOR,Décision
3,31202,FRONTON,24/03/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
4,31215,GAURE,13/02/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
5,31293,LESPINASSE,06/06/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
6,31341,MERVILLE,13/02/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
7,31380,MONTGEARD,03/04/2012,31/12/2012,21/01/2014,24/01/2014,Sécheresse,SEC,Simple,INTE1401748A,Reconnue
...,...,...,...,...,...,...,...,...,...,...,...
43625,66171,SAINT CYPRIEN,01/01/2024,31/12/2024,25/11/2025,02/12/2025,Sécheresse,SEC,Simple,INTE2532309A,Reconnue
43639,84056,JONQUIERES,01/01/2024,31/12/2024,25/11/2025,02/12/2025,Sécheresse,SEC,Simple,INTE2532309A,Reconnue
43647,6046,COLOMARS,01/04/2023,30/06/2023,12/12/2025,13/12/2025,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
43655,9207,MONTGAILHARD,01/10/2023,31/12/2023,12/12/2025,13/12/2025,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
43706,84035,CAVAILLON,01/04/2023,31/12/2023,12/12/2025,13/12/2025,Sécheresse,SEC,Simple,INTE2534330A,Reconnue

In [40]:
arretes_rec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21360 entries, 3 to 43706
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   N° Insee           21360 non-null  object
 1   Nom de la commune  21360 non-null  object
 2   Début d'Événement  21360 non-null  object
 3   Fin d'Événement    21360 non-null  object
 4   Arrêté du          21360 non-null  object
 5   Parution au JO du  21360 non-null  object
 6   Nom du péril       21360 non-null  object
 7   Code péril         21360 non-null  object
 8   Franchise          21360 non-null  object
 9   Code NOR           21360 non-null  object
 10  Décision           21360 non-null  object
dtypes: object(11)
memory usage: 2.0+ MB

In [41]:
import pandas as pd

# Exemple pour Début d'Événement
arretes_rec["Début d'Événement"] = pd.to_datetime(
    arretes_rec["Début d'Événement"], dayfirst=True, errors="coerce"
)

# Optionnel : vérifier qu’il n’y a pas de NaT
print(arretes_rec["Début d'Événement"].isna().sum())

0

C:\Users\HP\AppData\Local\Temp\ipykernel_20976\724905532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arretes_rec["Début d'Événement"] = pd.to_datetime(

In [42]:
arretes_rec["year"] = arretes_rec["Début d'Événement"].dt.year

C:\Users\HP\AppData\Local\Temp\ipykernel_20976\1473968351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arretes_rec["year"] = arretes_rec["Début d'Événement"].dt.year

In [43]:
catnat_year = (
    arretes_rec
    .groupby(["N° Insee", "year"])
    .size()
    .reset_index(name="n_arretes")
)

catnat_year["catnat_drought"] = 1

In [44]:
catnat_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21302 entries, 0 to 21301
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   N° Insee        21302 non-null  object
 1   year            21302 non-null  int32
 2   n_arretes       21302 non-null  int64
 3   catnat_drought  21302 non-null  int64
dtypes: int32(1), int64(2), object(1)
memory usage: 582.6+ KB

In [45]:
catnat_year.head(5)

  N° Insee  year  n_arretes  catnat_drought
0     1004  2018          1               1
1     1004  2020          1               1
2     1004  2022          1               1
3     1007  2018          1               1
4     1007  2020          1               1

In [46]:
catnat_year["year"].value_counts()

year
2022    6854
2018    4061
2019    2918
2020    2588
2017    2123
2023    1143
2016     986
2021     255
2015     206
2012      60
2014      44
2024      37
2013      23
2009       4
Name: count, dtype: int64