In [1]:
# import pandas as pd
# import glob
# import os

# path = r"D:\3A ENSAE\Machine Learning for climate risk\Project_Task\catnat_drought\catnat_drought"

# files = glob.glob(os.path.join(path, "arrete_*.csv"))

In [2]:
# dfs = []

# for f in files:
#     df = pd.read_csv(f, sep=";")
#     dfs.append(df)

# arretes = pd.concat(dfs, axis=0, ignore_index=True)

In [3]:
#arretes

In [20]:
# arretes_rec=arretes[arretes['Décision']=="Reconnue"]
# arretes_rec

In [21]:
#arretes_rec.info()

In [22]:
# import pandas as pd

# # Exemple pour Début d'Événement
# arretes_rec["Début d'Événement"] = pd.to_datetime(
#     arretes_rec["Début d'Événement"], dayfirst=True, errors="coerce"
# )

# # Optionnel : vérifier qu’il n’y a pas de NaT
# print(arretes_rec["Début d'Événement"].isna().sum())

In [23]:
#arretes_rec["year"] = arretes_rec["Début d'Événement"].dt.year

In [24]:
# catnat_year = (
#     arretes_rec
#     .groupby(["N° Insee", "year"])
#     .size()
#     .reset_index(name="n_arretes")
# )

# catnat_year["catnat_drought"] = 1

In [25]:
#catnat_year.info()

In [26]:
#catnat_year.head(5)

In [27]:
#catnat_year["year"].value_counts()

In [55]:
import geopandas as gpd

data_err=gpd.read_file("D:\\3A ENSAE\\Machine Learning for climate risk\\Project\\Clean_Bases\\df_erreur.gpkg")

data_err

,SWI_UNIF_MENS,ym,swi_min,swi_mean,swi_max,prenei_sum,preliq_sum,pe_sum,evap_sum,t_avg,...,code_insee_canton,code_insee_des_arrondissements,code_insee_du_departement,code_insee_de_la_region,surface,dept_name,region_name,year,sq_error_rf,geometry
0,0.950,2020-01,0.851,0.894806,0.950,0.0,48.2,27.0,21.2,7.200000,...,5996,599,59,32,4390.0,Nord,Hauts-de-France,2020,0.000279,POINT (657366 7106175)
1,0.949,2020-01,0.861,0.902290,0.956,0.0,48.2,29.5,18.7,7.225806,...,5917,591,59,32,3590.0,Nord,Hauts-de-France,2020,0.000170,POINT (665362 7106108)
2,0.957,2020-01,0.858,0.904290,0.956,0.0,45.3,24.5,20.8,7.319355,...,6234,623,62,32,3160.0,Pas-de-Calais,Hauts-de-France,2020,0.000407,POINT (625315 7098447)
3,0.957,2020-01,0.857,0.904000,0.956,0.0,45.3,24.8,20.5,7.319355,...,6234,623,62,32,3390.0,Pas-de-Calais,Hauts-de-France,2020,0.000347,POINT (633311 7098380)
4,0.949,2020-01,0.859,0.897968,0.948,0.0,48.2,27.4,20.8,7.212903,...,5920,592,59,32,810.0,Nord,Hauts-de-France,2020,0.000210,POINT (641307 7098313)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515095,0.221,2024-12,0.164,0.283839,0.363,0.0,57.4,25.6,31.8,9.322581,...,2A07,2A0,2A,94,3990.0,Corse-du-Sud,Corse,2024,0.000121,POINT (1199933 6062362)
515096,0.211,2024-12,0.160,0.272677,0.346,0.0,56.8,25.6,31.2,9.354839,...,2A07,2A0,2A,94,4280.0,Corse-du-Sud,Corse,2024,0.000022,POINT (1207923 6062291)
515097,0.261,2024-12,0.177,0.291935,0.363,0.0,59.6,28.0,31.6,9.187097,...,2A07,2A0,2A,94,10020.0,Corse-du-Sud,Corse,2024,0.001156,POINT (1215912 6062221)
515098,0.211,2024-12,0.188,0.296032,0.367,0.0,56.8,25.8,31.0,9.354839,...,2A07,2A0,2A,94,13840.0,Corse-du-Sud,Corse,2024,0.000051,POINT (1223902 6062151)
515099,0.225,2024-12,0.167,0.272194,0.339,0.0,57.8,26.7,31.1,9.303226,...,2A07,2A0,2A,94,13840.0,Corse-du-Sud,Corse,2024,0.000116,POINT (1215842 6054231)

In [56]:
data_err.columns

Index(['SWI_UNIF_MENS', 'ym', 'swi_min', 'swi_mean', 'swi_max', 'prenei_sum',
       'preliq_sum', 'pe_sum', 'evap_sum', 't_avg', 'ff_avg', 'q_avg',
       'hu_avg', 'dli_avg', 'ssi_avg', 'etp_avg', 'tinf_avg', 'tsup_avg',
       'resr_neige_avg', 'resr_neige6_avg', 'hteurneige_avg',
       'hteurneige6_avg', 'hteurneigex_avg', 'snow_frac_avg', 'drainc_sum',
       'runc_sum', 'ecoulement_sum', 'wg_racine_avg', 'wgi_racine_avg', 'ALEA',
       'NIVEAU', 'index__adm', 'code_insee', 'nom_commune', 'population',
       'code_insee_canton', 'code_insee_des_arrondissements',
       'code_insee_du_departement', 'code_insee_de_la_region', 'surface',
       'dept_name', 'region_name', 'year', 'sq_error_rf', 'geometry'],
      dtype='object')

In [57]:
cols_to_drop = [
    'swi_min', 'swi_mean', 'swi_max',
    'prenei_sum', 'preliq_sum', 'pe_sum', 'evap_sum',
    't_avg', 'ff_avg', 'q_avg', 'hu_avg',
    'dli_avg', 'ssi_avg', 'etp_avg',
    'tinf_avg', 'tsup_avg',
    'resr_neige_avg', 'resr_neige6_avg',
    'hteurneige_avg', 'hteurneige6_avg', 'hteurneigex_avg',
    'snow_frac_avg',
    'drainc_sum', 'runc_sum', 'ecoulement_sum',
    'wg_racine_avg', 'wgi_racine_avg','index__adm','geometry',
    'superficie','population'
]

data_err = data_err.drop(columns=cols_to_drop, errors='ignore')
data_err

,SWI_UNIF_MENS,ym,ALEA,NIVEAU,code_insee,nom_commune,code_insee_canton,code_insee_des_arrondissements,code_insee_du_departement,code_insee_de_la_region,surface,dept_name,region_name,year,sq_error_rf
0,0.950,2020-01,Non Exposé,0,59183,Dunkerque,5996,599,59,32,4390.0,Nord,Hauts-de-France,2020,0.000279
1,0.949,2020-01,Moyen,2,59260,Ghyvelde,5917,591,59,32,3590.0,Nord,Hauts-de-France,2020,0.000170
2,0.957,2020-01,Moyen,2,62548,Marck,6234,623,62,32,3160.0,Pas-de-Calais,Hauts-de-France,2020,0.000407
3,0.957,2020-01,Moyen,2,62645,Oye-Plage,6234,623,62,32,3390.0,Pas-de-Calais,Hauts-de-France,2020,0.000347
4,0.949,2020-01,Moyen,2,59532,Saint-Georges-sur-l'Aa,5920,592,59,32,810.0,Nord,Hauts-de-France,2020,0.000210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515095,0.221,2024-12,Non Exposé,0,2A163,Monacia-d'Aullène,2A07,2A0,2A,94,3990.0,Corse-du-Sud,Corse,2024,0.000121
515096,0.211,2024-12,Non Exposé,0,2A215,Pianottoli-Caldarello,2A07,2A0,2A,94,4280.0,Corse-du-Sud,Corse,2024,0.000022
515097,0.261,2024-12,Non Exposé,0,2A114,Figari,2A07,2A0,2A,94,10020.0,Corse-du-Sud,Corse,2024,0.001156
515098,0.211,2024-12,Non Exposé,0,2A041,Bonifacio,2A07,2A0,2A,94,13840.0,Corse-du-Sud,Corse,2024,0.000051
515099,0.225,2024-12,Faible,1,2A041,Bonifacio,2A07,2A0,2A,94,13840.0,Corse-du-Sud,Corse,2024,0.000116

In [58]:
data_err.columns

Index(['SWI_UNIF_MENS', 'ym', 'ALEA', 'NIVEAU', 'code_insee', 'nom_commune',
       'code_insee_canton', 'code_insee_des_arrondissements',
       'code_insee_du_departement', 'code_insee_de_la_region', 'surface',
       'dept_name', 'region_name', 'year', 'sq_error_rf'],
      dtype='object')

In [59]:
# index des lignes où le NIVEAU est maximal par commune-année
idx_niveau_max = (
    data_err
    .groupby(['code_insee', 'year'])['NIVEAU']
    .idxmax()
)

# agrégation principale
data_comm_annee = (
    data_err
    .groupby(['code_insee', 'year'], as_index=False)
    .agg(
        SWI_UNIF_MENS=('SWI_UNIF_MENS', 'min'),
        sq_error_rf=('sq_error_rf', 'max'),
        NIVEAU=('NIVEAU', 'max'),

        #cleabs=('cleabs', 'first'),
        #nom_officiel=('nom_officiel', 'first'),
        #nom_officiel_en_majuscules=('nom_officiel_en_majuscules', 'first'),
        nom_commune=('nom_commune','first'),
        code_insee_canton=('code_insee_canton', 'first'),
        code_insee_des_arrondissements=('code_insee_des_arrondissements', 'first'),
        code_insee_du_departement=('code_insee_du_departement', 'first'),
        code_insee_de_la_region=('code_insee_de_la_region', 'first'),
        #composition_du_canton=('composition_du_canton', 'first'),
        dept_name=('dept_name', 'first'),
        region_name=('region_name', 'first')
    )
)

# récupération de ALEA associée au NIVEAU max
alea_comm_annee = (
    data_err
    .loc[idx_niveau_max, ['code_insee', 'year', 'ALEA']]
)

# merge final
data_comm_annee = data_comm_annee.merge(
    alea_comm_annee,
    on=['code_insee', 'year'],
    how='left'
)

In [60]:
data_comm_annee

,code_insee,year,SWI_UNIF_MENS,sq_error_rf,NIVEAU,nom_commune,code_insee_canton,code_insee_des_arrondissements,code_insee_du_departement,code_insee_de_la_region,dept_name,region_name,ALEA
0,01006,2020,0.122,0.000807,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible
1,01006,2021,0.492,0.000225,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible
2,01006,2022,0.091,0.000326,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible
3,01006,2023,0.145,0.000386,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible
4,01006,2024,0.278,0.000286,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40225,95652,2020,-0.010,0.001196,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen
40226,95652,2021,0.348,0.000584,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen
40227,95652,2022,-0.009,0.000162,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen
40228,95652,2023,0.161,0.000325,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen
40229,95652,2024,0.209,0.000941,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen

In [61]:
import pandas as pd

catnat_final=pd.read_csv("D:\\3A ENSAE\\Machine Learning for climate risk\\Project\\Clean_Bases\\catnat_final.csv",sep=",")
catnat_final

,Insee,Nom_commune,debut_event,fin_event,arrete_du,parution_jo,nom_peril,code_peril,franchise,code_nor,decision
0,2377.0,HAUTION,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
1,2518.0,MONTLEVON,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
2,6130.0,SAINT VALLIER DE THIEY,2018-07-01 00:00:00,2018-08-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,-,INTE2002330A,Non reconnue
3,7338.0,VERNOUX EN VIVARAIS,2018-01-01 00:00:00,2018-03-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
4,8454.0,TOULIGNY,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
...,...,...,...,...,...,...,...,...,...,...,...
221880,82094.0,LAUZERTE,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,-,INTE2534330A,Non reconnue
221881,83109.0,LA ROQUE ESCLAPON,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,-,INTE2534330A,Non reconnue
221882,84035.0,CAVAILLON,2023-04-01 00:00:00,2023-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
221883,84086.0,OPPEDE,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,-,INTE2534330A,Non reconnue
221884,85191.0,LA ROCHE SUR YON,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,-,INTE2534330A,Non reconnue

In [62]:
catnat_final['Insee'] = (
    catnat_final['Insee']
    .astype('Int64')     # gère les NA proprement
    .astype(str)
    .str.zfill(5)
)

In [63]:
catnat_final=catnat_final[catnat_final['decision']=="Reconnue"]
catnat_final

,Insee,Nom_commune,debut_event,fin_event,arrete_du,parution_jo,nom_peril,code_peril,franchise,code_nor,decision
0,02377,HAUTION,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
1,02518,MONTLEVON,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
3,07338,VERNOUX EN VIVARAIS,2018-01-01 00:00:00,2018-03-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
4,08454,TOULIGNY,2018-07-01 00:00:00,2018-12-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
5,11016,ARQUETTES EN VAL,2018-01-01 00:00:00,2018-03-31 00:00:00,2020-01-28 00:00:00,2020-02-13 00:00:00,Sécheresse,SEC,Simple,INTE2002330A,Reconnue
...,...,...,...,...,...,...,...,...,...,...,...
221801,66171,SAINT CYPRIEN,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-11-25 00:00:00,2025-12-02 00:00:00,Sécheresse,SEC,Simple,INTE2532309A,Reconnue
221815,84056,JONQUIERES,2024-01-01 00:00:00,2024-12-31 00:00:00,2025-11-25 00:00:00,2025-12-02 00:00:00,Sécheresse,SEC,Simple,INTE2532309A,Reconnue
221823,06046,COLOMARS,2023-04-01 00:00:00,2023-06-30 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
221831,09207,MONTGAILHARD,2023-10-01 00:00:00,2023-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,Simple,INTE2534330A,Reconnue
221882,84035,CAVAILLON,2023-04-01 00:00:00,2023-12-31 00:00:00,2025-12-12 00:00:00,2025-12-13 00:00:00,Sécheresse,SEC,Simple,INTE2534330A,Reconnue

In [64]:
import pandas as pd

# Exemple pour Début d'Événement
catnat_final["debut_event"] = pd.to_datetime(
    catnat_final["fin_event"], dayfirst=True, errors="coerce"
)

# Optionnel : vérifier qu’il n’y a pas de NaT
print(catnat_final["debut_event"].isna().sum())

0

C:\Users\HP\AppData\Local\Temp\ipykernel_24372\2028259149.py:4: UserWarning: Parsing dates in %Y-%m-%d %H:%M:%S format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  catnat_final["debut_event"] = pd.to_datetime(
C:\Users\HP\AppData\Local\Temp\ipykernel_24372\2028259149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  catnat_final["debut_event"] = pd.to_datetime(

In [65]:
catnat_final["year"] = catnat_final["debut_event"].dt.year

C:\Users\HP\AppData\Local\Temp\ipykernel_24372\1025731712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  catnat_final["year"] = catnat_final["debut_event"].dt.year

In [66]:
catnat_final = (
    catnat_final
    .groupby(["Insee", "year"])
    .size()
    .reset_index(name="n_arretes")
)

catnat_final["catnat_drought"] = 1

In [67]:
catnat_final['year'].value_counts()

year
2022    6854
2019    2918
2020    2588
2023    1142
2021     255
2018      90
2024      37
2017       1
Name: count, dtype: int64

In [68]:
catnat_final.columns

Index(['Insee', 'year', 'n_arretes', 'catnat_drought'], dtype='object')

In [69]:
catnat_final = catnat_final.drop(columns=['n_arretes'], errors='ignore')

In [70]:
df_merged = (
    data_comm_annee
    .merge(
        catnat_final[['Insee', 'year', 'catnat_drought']],
        left_on=['code_insee', 'year'],
        right_on=['Insee', 'year'],
        how='left'
    )
)

# Remplacer les NA par 0
df_merged['catnat_drought'] = df_merged['catnat_drought'].fillna(0).astype(int)

# Optionnel : supprimer la colonne clé en double
df_merged = df_merged.drop(columns=['Insee'])

In [71]:
len(df_merged)

40230

In [72]:
df_merged

,code_insee,year,SWI_UNIF_MENS,sq_error_rf,NIVEAU,nom_commune,code_insee_canton,code_insee_des_arrondissements,code_insee_du_departement,code_insee_de_la_region,dept_name,region_name,ALEA,catnat_drought
0,01006,2020,0.122,0.000807,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible,0
1,01006,2021,0.492,0.000225,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible,0
2,01006,2022,0.091,0.000326,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible,0
3,01006,2023,0.145,0.000386,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible,0
4,01006,2024,0.278,0.000286,1,Ambléon,0104,010,01,84,Ain,Auvergne-Rhône-Alpes,Faible,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40225,95652,2020,-0.010,0.001196,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen,0
40226,95652,2021,0.348,0.000584,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen,0
40227,95652,2022,-0.009,0.000162,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen,0
40228,95652,2023,0.161,0.000325,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen,0
40229,95652,2024,0.209,0.000941,2,Viarmes,9509,950,95,11,Val-d'Oise,Île-de-France,Moyen,0

In [73]:
df_merged["catnat_drought"].value_counts(normalize='TRUE')

catnat_drought
0    0.9305
1    0.0695
Name: proportion, dtype: float64

In [76]:
df_merged["catnat_drought"]=df_merged["catnat_drought"].astype(int)

In [80]:
df_merged["catnat_drought"].value_counts()

catnat_drought
0    37434
1     2796
Name: count, dtype: int64